.photo{
background-image: url("me.jpg");
background-repeat: no-repeat;
position: absolute;
top:140px;
bottom: -110px;
right:10%;
left:10%;
z-index: 100;
border-radius: 50px;
border:#2d4058 solid 10px;
min-width: 400px;
max-width: 80%;
}

header a{
  font-style: none;
  color:white;
  text-decoration: none;
}

.myName{

  top:30px;
  left:50px;
  position: absolute;
  width: 100px;
  background-color:#2d4058 ;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  padding: 5px;
  padding-left:20px;
}

.name{
  position: relative;
  cursor: pointer;
}

.name:hover .myName{
  opacity:1;
}

.in{
  top:27px;
  right:40px;
  position: absolute;
  width: 50px;
  background-color:#2d4058 ;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  padding: 5px;
  padding-left:5px;

}

.instagram{
  position: relative;
  cursor: pointer;
}

.instagram:hover .in{
  opacity:1;
}



  .face{
    top:27px;
    right:120px;
    position: absolute;
    width: 70px;
    background-color:#2d4058 ;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    opacity: 0;
    padding: 7px;
    padding-left:5px;
  }


.facebook{
  position: relative;
  cursor: pointer;
}

.facebook:hover .face{
  opacity:1;
}


.working{
  background-color: ;
  position: relative;
  z-index: 200;
}

header{
  background-color: black;
  color:white;

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: fixed;
  top:0px;
  right:0px;
  left:0px;

  height:80px;
  opacity: 0.9;
  z-index: 400;
}

body{
  margin:0px;
  font-family: sans-serif;
  background-color: ;
}

.nav p{
  display:inline;
  font-size: 20px;
}

.nav{
  display:flex;
  justify-content: space-between;
  margin-top: 8px;
}

.name{
  margin-left: 30px;
  font-size: 25px;
}

.follow img{
  width:35px;
  height:35px;
  border-radius:17px;
  margin-left: 20px;
  margin-top: 20px;
}

.follow-me{
  display: flex;
}

.follow-me{
  position:absolute;
  right:50px;
}


article{
  display: grid;
  grid-template-columns: 4fr 5fr;
  margin-bottom: 220px;
  margin-top: 100px;
}

.text{
  background-color: ;
  padding: 40px;
  height: 870px;
  margin-top: 40px;
}

body{
  margin:0px;
  line-height: 1.5;
  font-family: sans-serif;
  color:white;
  background-image: url(no.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.profile,.skills,.education{
  margin-top:50px;
}

p{
  font-size: 20px;
}

.text p{
  margin-top:25px;
  margin-bottom:25px;
}

.text h2{
  margin-top:30px;
  margin-bottom:40px;

}

@media only screen and (max-width: 1000px) {

.rasdf{
  opacity:0;
}
header p{
  margin-left:30px;
  margin-right:30px;
}

}

@media only screen and (max-width: 900px) {
  .rasd{
    opacity:0;
  }

  header p{
    margin-left:30px;
    margin-right:30px;
  }


}

@media only screen and (max-width: 750px) {

 .ras{
   opacity:0;
 }
 header p{
   margin-left:30px;
   margin-right:30px;
 }

}
