header{
  background-color: black;
  color:white;

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: fixed;
  top:0px;
  right:0px;
  left:0px;

  height:80px;
}

header a{
  font-style: none;
  color:white;
  text-decoration: none;
}

body{
  background-image: url(27852311.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

article{


}


li {
  color:white;
  font-size:20px;
  margin:10% 0 10% 0;
  line-height: 25px;
  width:130%;
}

ul{
  margin-top: 20%;
  margin-left:15%;
}

a {
  color:pink;
  text-decoration: none;
}

a:hover{
  color:#118595;
  font-size: 22px;
}

.myName{

  top:30px;
  left:50px;
  position: absolute;
  width: 100px;
  background-color:#2d4058 ;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  padding: 5px;
  padding-left:20px;
}

.name{
  position: relative;
  cursor: pointer;
}

.name:hover .myName{
  opacity:1;
}

.in{
  top:27px;
  right:40px;
  position: absolute;
  width: 50px;
  background-color:#2d4058 ;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  padding: 5px;
  padding-left:5px;

}

.instagram{
  position: relative;
  cursor: pointer;
}

.instagram:hover .in{
  opacity:1;
}


.face{
  top:27px;
  right:120px;
  position: absolute;
  width: 70px;
  background-color:#2d4058 ;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  padding: 7px;
  padding-left:5px;
}

.facebook{
  position: relative;
  cursor: pointer;
}

.facebook:hover .face{
  opacity:1;
}


body{
  margin:0px;
  font-family: sans-serif;

}



.nav p{
  display:inline;
  font-size: 20px;
}

.nav{
  display:flex;
  justify-content: space-between;
  margin-top: 8px;
}

.name{
  margin-left: 30px;
  font-size: 25px;
}

.follow img{
  width:35px;
  height:35px;
  border-radius:17px;
  margin-left: 20px;
  margin-top: 20px;
}

.follow-me{
  display: flex;
}

.follow-me{
  position:absolute;
  right:50px;
}

@media only screen and (max-width: 1000px) {

.rasdf{
  opacity:0;
}
header p{
  margin-left:30px;
  margin-right:30px;
}

}

@media only screen and (max-width: 900px) {
  .rasd{
    opacity:0;
  }

  header p{
    margin-left:30px;
    margin-right:30px;
  }


}

@media only screen and (max-width: 750px) {

 .ras{
   opacity:0;
 }
 header p{
   margin-left:30px;
   margin-right:30px;
 }

}



.p{

  height:500px;
  width:37%;
  position: absolute;
  top:20%;
  left:7%;
  border-radius: 20px;
  opacity:0.99;
  padding: 20px;
}

.p h2,p{
  color:white;
}

.p h2{
  font-size:40px;
}
